@import url(./fonts.css);
@import url("./animations.css");

body {
  margin: 0;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.screen {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen.first-page {
  background-color: #a9aa9a;

  /* TODO: fix margin */
  .title-card {
    width: 944px;
    height: 607px;
    background-image: url("/Frame\ Big.svg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
      font-family: Caveat;
      font-weight: 400;
      font-style: Regular;
      font-size: 186px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-block-end: 0;
    }
    h2 {
      font-family: "Raleway";
      font-weight: 600;
      font-style: SemiBold;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
}
.screen.second-page {
  background-color: #f4f0cd;
  img:nth-child(5) {
    align-self: flex-start;
    margin-top: 18px;
  }
}

.screen.third-page {
  background-color: #f1ede4;
  flex-direction: column;
  justify-content: flex-start;

  h1 {
    font-size: 124px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-block-start: 40px;
  }

  .datitas {
    display: flex;
    flex-direction: row;

    font-family: "Raleway";
    font-weight: 600;
    font-style: SemiBold;
    line-height: 100%;
    letter-spacing: 0%;

    .datita {
      background-image: url("/frame.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 382px;
      height: 520px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0;

      .datita-image {
        margin-top: 40px;
      }

      .datita-text {
        margin: 0 50px 60px 50px;
        h2 {
          font-size: 32px;
        }

        p {
          text-align: left;
          font-size: 16px;
          margin-block-start: 0;
          margin-block-end: 0;
        }
      }
    }
  }
}

.screen.fourth-page.mobile {
  display: none;
}
.screen.fourth-page {
  background-color: #f4f0cd;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title-card {
    width: 90%;
    margin: 0 8rem;
    display: flex;
    justify-content: space-between;

    .text {
      text-align: left;
      h1 {
        margin-block: unset;
        font-weight: 400;
        font-size: 124px;
        line-height: 100%;
        letter-spacing: 0%;
      }
      h2 {
        font-family: Raleway;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
      }
      h3 {
        font-family: Raleway;
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
      }

      a {
        display: inline-block;
        background-color: #f1ede4;
        border: 1px solid #2b683f;
        border-radius: 100px;
        padding: 4px 40px;
        text-decoration: none;
        color: #2b683f;
        font-family: Raleway;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }

    img {
      width: 240px;
    }
  }
}

.screen.fifth-page {
  background-color: #e4b8af;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;

  img {
    width: 300px;
  }

  .text {
    text-align: left;
    * {
      margin: 6px 0;
    }
    h1 {
      margin-block: 0;
      margin-bottom: 42px;
      font-family: Caveat;
      font-weight: 400;
      font-style: Regular;
      font-size: 124px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    h2 {
      font-family: Raleway;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    h3 {
      font-family: Raleway;
      font-weight: 700;
      font-style: Bold;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    p {
      font-family: Raleway;
      font-weight: 400;
      font-style: Regular;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
}

.screen.sixth-page {
  background-color: #f1ede4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;

  img {
    width: 500px;
  }

  h1 {
    margin-block: 0;
    margin-bottom: 42px;
    font-family: Caveat;
    font-weight: 400;
    font-style: Regular;
    font-size: 124px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  form {
    width: 625px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      font-family: Raleway;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 16px;
    }

    input {
      width: 100%;
      padding: 4px 6px;

      margin-bottom: 42px;
      border-radius: 8px;
      border: none;
      font-family: Raleway;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 0%;

      &:focus {
        outline: none;
        border: 2px solid #2b683f;
      }
    }

    button {
      align-self: center;
      display: inline-block;
      background-color: #efd9db;
      border: 1px solid #2b683f;
      border-radius: 100px;
      padding: 4px 40px;
      text-decoration: none;
      color: #2b683f;
      font-family: Raleway;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;

      &:hover {
        background-color: #e4b8af;
      }
    }

    .error {
      color: #e4b8af;
      font-family: Raleway;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 16px;
    }
  }
  .rsvp-success {
    width: 625px;
    animation: entrada 2s ease 0s 1 normal forwards;
  }
}

h1 {
  font-family: Caveat;
  font-weight: 400;
  font-style: Regular;
}

.chirimbolo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;

  &:hover {
    animation: chirimbolos 5s ease-in-out 0s infinite alternate none;
  }

  &.pareja {
    width: 182px;
    height: 253px;
    top: 82px;
    left: 48px;
    background-image: url("/Couple.svg");
  }

  &.anillos {
    width: 164px;
    height: 144px;
    top: 82px;
    right: 48px;
    background-image: url("/Rings.svg");
  }

  &.copas {
    width: 197px;
    height: 242px;
    bottom: 60px;
    left: 40px;
    background-image: url("/Glasses.svg");
  }

  &.torta {
    width: 200px;
    height: 350px;
    bottom: 33px;
    right: 61px;
    background-image: url("/cake.svg");
  }

  &.angel {
    width: 200px;
    height: 200px;
    top: 42px;
    left: 123px;
    background-image: url("/angel.svg");
  }

  &.copas2 {
    width: 200px;
    height: 200px;
    bottom: 195px;
    right: 0;
    background-image: url("/Glasses_2.svg");
  }
}

@media screen and (min-width: 1300px) {
  .screen {
    min-height: 1000px;
  }
}

@media screen and (max-width: 1300px) {
  #root {
    overflow: hidden;
  }

  .screen {
    min-height: 850px;
  }
  .screen.first-page .title-card {
    width: 80%;
    height: 70%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: center;

    h1 {
      font-size: 12rem;
    }
    h2 {
      font-size: 4rem;
    }
  }
  .screen.second-page {
    height: 100vh;
    .chirimbolo {
      &.angel {
        z-index: 2;
        right: 5%;
        left: unset;
      }
      &.copas2 {
        display: none;
      }
    }
    img {
      position: absolute;
      &:nth-child(3) {
        top: 15%;
        left: 80px;
        z-index: 1;
      }
      &:nth-child(5) {
        align-self: flex-start;
        margin-top: 180px;
        bottom: 12%;
        right: 5%;
      }
    }
  }

  .screen.third-page {
    height: auto;
    h1 {
      font-family: Caveat;
      font-weight: 400;
      font-style: Regular;
      font-size: 74px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    .datitas {
      flex-direction: column;
      gap: 4rem;
      padding-bottom: 4rem;
    }
  }

  .screen.screen.fifth-page {
    flex-direction: column-reverse;
  }

  .screen.screen.sixth-page {
    height: auto;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 0;
  }
}

@media screen and (max-width: 900px) {
  .screen {
    min-height: 100vh;
  }
  .chirimbolo.pareja {
    width: 40vw;
    height: 50vw;
    bottom: 70px;
    top: unset;
    left: -16px;
  }

  .chirimbolo.anillos {
    width: 30vw;
    height: 30vw;
    top: 36px;
    right: -34px;
  }

  .chirimbolo.copas {
    width: 30vw;
    height: 50vw;
    top: -37px;
    left: -38px;
  }

  .chirimbolo.torta {
    width: 30vw;
    height: 50vw;
    bottom: 55px;
    right: -45px;
  }

  .screen.first-page .title-card {
    width: 84%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    h1 {
      font-size: 19vw;
    }
    h2 {
      font-size: 5vw;
    }
  }
  .screen.second-page {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    padding: 3vh 0;

    .chirimbolo.angel {
      display: none;
    }

    img {
      position: relative;
      width: 100%;
      max-width: 80vw;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      margin: 0 auto !important;
    }
  }
  .screen.third-page h1 {
    font-size: 48px;
  }

  .screen.fourth-page.desktop {
    display: none;
  }

  .screen.fourth-page.mobile {
    display: flex;
    height: 100vh;
    padding: 4vh 0;

    &.second {
      background-color: #e4b8af;
    }

    .title-card {
      flex-direction: column;
      align-items: center;
      .text {
        text-align: center;
        margin: 0 20px;
        h1 {
          font-size: 74px;
          margin-bottom: 40px;
        }
        h2 {
          font-size: 24px;
          font-weight: 600;
        }
        h3 {
          font-size: 20px;
          font-weight: 400;
        }
      }
      img {
        width: 40vw;
      }
    }
  }

  .screen.fifth-page {
    background-color: #a9aa9a;
    flex-direction: column;
    align-items: center;
    padding: 4vh;
    gap: 4vh;
    .text {
      text-align: center;
      h1 {
        font-size: 30vw;
      }
      h2 {
        font-size: 8vw;
      }
      h3 {
        font-size: 7vw;
      }
      p {
        font-size: 6vw;
      }
    }
    img {
      width: 40vw;
      max-width: 300px;
    }
  }

  .screen.sixth-page {
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 2rem 0;
    img {
      width: 100%;
      max-width: 300px;
    }
    h1 {
      font-size: 15vw;
    }
    form {
      width: 90%;
      max-width: 500px;
      align-items: center;

      input {
        width: 100%;
        max-width: 400px;
        font-size: 24px;
        margin-bottom: 28px;
      }
    }
    .rsvp-success {
      width: 90%;
    }
  }
}
