@import url(./fonts.css);
body {
  margin: 0;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen:nth-child(1) {
  background-color: #a9aa9a;
}
.screen:nth-child(2) {
  background-color: #f4f0cd;
}
.screen:nth-child(3) {
  background-color: #e4b8af;
  h1 {
    font-size: 124px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}
.screen:nth-child(4) {
  background-color: #f4f0cd;
}
.screen:nth-child(5) {
  background-color: #f1ede4;
}

h1 {
  font-family: Caveat;
  font-weight: 400;
  font-style: Regular;
}
/* TODO: fix margin */
.title-card {
  width: 944px;
  height: 607px;
  background-image: url("/public/Frame\ Big.svg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h1 {
    font-family: Caveat;
    font-weight: 400;
    font-style: Regular;
    font-size: 186px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-block-end: 0;
  }
  h2 {
    font-family: Raleway;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.chirimbolo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;

  &.pareja {
    width: 182px;
    height: 253px;
    top: 82px;
    left: 48px;
    background-image: url("/public/Couple.svg");
  }

  &.anillos {
    width: 164px;
    height: 144px;
    top: 82px;
    right: 48px;
    background-image: url("/public/Rings.svg");
  }

  &.copas {
    width: 197px;
    height: 242px;
    bottom: 60px;
    left: 40px;
    background-image: url("/public/Glasses.svg");
  }

  &.torta {
    width: 200px;
    height: 350px;
    bottom: 33px;
    right: 61px;
    background-image: url("/public/Cake.svg");
  }

  &.angel {
    width: 200px;
    height: 200px;
    top: 42px;
    left: 123px;
    background-image: url("/public/angel.svg");
  }

  &.copas2 {
    width: 200px;
    height: 200px;
    bottom: 195px;
    right: 0;
    background-image: url("/public/Glasses_2.svg");
  }
}
