@import url(./fonts.css);
body {
  margin: 0;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.screen {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen.first-page {
  background-color: #a9aa9a;

  /* TODO: fix margin */
  .title-card {
    width: 944px;
    height: 607px;
    background-image: url("/public/Frame\ Big.svg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
      font-family: Caveat;
      font-weight: 400;
      font-style: Regular;
      font-size: 186px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-block-end: 0;
    }
    h2 {
      font-family: "Raleway";
      font-weight: 600;
      font-style: SemiBold;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
}
.screen.second-page {
  background-color: #f4f0cd;
}

.screen.third-page {
  background-color: #f1ede4;
  flex-direction: column;
  justify-content: flex-start;

  h1 {
    font-size: 124px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-block-start: 40px;
  }

  .datitas {
    display: flex;
    flex-direction: row;

    font-family: "Raleway";
    font-weight: 600;
    font-style: SemiBold;
    line-height: 100%;
    letter-spacing: 0%;

    .datita {
      background-image: url("/public/frame.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 382px;
      height: 520px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0;

      .datita-image {
        margin-top: 40px;
      }

      .datita-text {
        margin: 0 50px 60px 50px;
        h2 {
          font-size: 32px;
        }

        p {
          text-align: left;
          font-size: 16px;
          margin-block-start: 0;
          margin-block-end: 0;
        }
      }
    }
  }
}

.screen.fourth-page {
  background-color: #f4f0cd;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title-card {
    width: 90%;
    margin: 0 8rem;
    display: flex;
    justify-content: space-between;

    .text {
      text-align: left;
      h1 {
        margin-block: unset;
        font-weight: 400;
        font-size: 124px;
        line-height: 100%;
        letter-spacing: 0%;
      }
      h2 {
        font-family: Raleway;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
      }
      h3 {
        font-family: Raleway;
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
      }

      a {
        display: inline-block;
        background-color: #f1ede4;
        border: 1px solid #2b683f;
        border-radius: 100px;
        padding: 4px 40px;
        text-decoration: none;
        color: #2b683f;
        font-family: Raleway;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }

    img {
      width: 240px;
    }
  }
}

.screen.fifth-page {
  background-color: #f1ede4;
}

h1 {
  font-family: Caveat;
  font-weight: 400;
  font-style: Regular;
}

.chirimbolo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;

  &.pareja {
    width: 182px;
    height: 253px;
    top: 82px;
    left: 48px;
    background-image: url("/public/Couple.svg");
  }

  &.anillos {
    width: 164px;
    height: 144px;
    top: 82px;
    right: 48px;
    background-image: url("/public/Rings.svg");
  }

  &.copas {
    width: 197px;
    height: 242px;
    bottom: 60px;
    left: 40px;
    background-image: url("/public/Glasses.svg");
  }

  &.torta {
    width: 200px;
    height: 350px;
    bottom: 33px;
    right: 61px;
    background-image: url("/public/Cake.svg");
  }

  &.angel {
    width: 200px;
    height: 200px;
    top: 42px;
    left: 123px;
    background-image: url("/public/angel.svg");
  }

  &.copas2 {
    width: 200px;
    height: 200px;
    bottom: 195px;
    right: 0;
    background-image: url("/public/Glasses_2.svg");
  }
}
